/* 요소 외부 폰트 모음 */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@900&family=Noto+Serif+KR:wght@500&display=swap');

header{
  flex-basis : 320px;
  height:120px;
  flex-shrink : 0;
  background-color: #FBF9F6;
  display:flex;
  justify-content: center;
  align-items: center;
}

/* .header-child{
  display:flex;
} */


.Sign_up_font0 {
  /*회원가입을 위해~*/
  color: #000;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 120% */
  letter-spacing: 2.4px;
}
.Sign_up_font_hamso {
  /*함소*/
  color: #B09977;
  font-family: 'NanumMyeongjo',serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px; /* 116.667% */
  letter-spacing: 5.76px;
}

.Sign_up_font1 {
  /*아이디*/
  color: #999;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 125% */
}

.Sign_up_font1_dupl {
  /*아이디*/
  color: #999;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 125% */
}

.Sign_up_font2 {
  /*[필수][선택]*/
  color: #B09977;
  font-family: 'NanumMyeongjo',serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  /* 130% */
}

.Sign_up_font3 {
  /* 점점점점 */
  color: #999;
  font-family: 'NanumMyeongjo',serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}



/* 요소 스타일 + 내부 폰트 */
.Sign_up-logo {
  height: 40vmin;
  pointer-events: none;
}

.Sign_up-tag0 {
  width: 210px;
  height: 50px;
  text-align: left;
}



@media (prefers-reduced-motion: no-preference) {
  .Sign_up-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Sign_up-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.Sign_up-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



.Sign_up-main {
  background-color: white;
  width: 540px;
  margin: 0 auto;
  text-align: center;
}



.Sign_up-input1 {
  width: 540px;
  height: 68px;
  flex-shrink: 0;
  padding: 5px 5px;
  margin-top: 20px;
  margin-bottom: 20px;


  border-radius: 16px;
  border: 1px solid #999;

  color: #999;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.Sign_up-input2 {
  width: 400px;
  height: 68px;
  flex-shrink: 0;
  padding: 5px 5px;
  margin-top: 20px;
  margin-bottom: 20px;

  border-radius: 16px;
  border: 1px solid #999;

  color: #999;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.Sign_up-input3 {
  width: 300px;
  height: 68px;
  flex-shrink: 0;
  padding: 5px 5px;
  margin-top: 20px;
  margin-bottom: 20px;

  border-radius: 16px;
  border: 1px solid #999;

  color: #999;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}



.Sign_up-button1 {
  width: 92px;
  height: 52px;
  flex-shrink: 0;
  margin-left:35px;

  border-radius: 12px;
  background: rgba(153, 153, 153, 0.60);


  color: #FFF;
  font-family: "NanumMyeongjo", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 125% */
}

.Sign_up-button2 {
  width: 540px;
  height: 68px;
  flex-shrink: 0;
  margin : 0 auto;

  border-radius: 16px;
  background: rgba(153, 153, 153, 0.80);


  color: #FFF;
  font-family: 'NanumMyeongjo',serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  /* 116.667% */
  letter-spacing: 2.88px;
}


.Sign_up-terms_all {
  width: 600px;
  height: 70px;
  padding: 12px;
  margin: 0 auto;
  margin-bottom: 30px;



  /* 폰트 */
  color: #555;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.Sign_up-terms {
  max-height: 70px;
  /* 원하는 높이 설정 */
  overflow-y: auto;
  /* 수직 스크롤 추가 */
  width: 600px;
  padding: 12px;
  margin: 0 auto;
  margin-bottom: 30px;

  border: 1px solid #ccc;
  border-radius: 12px;

  color: #555;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}